<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Chompa Alpaca</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>Principal</h1>
            <form method="post" action="">
                <p><input type="radio" name="option" value="1" /> Ver el stock y las cantidades</p>
                <p><input type="radio" name="option" value="2" /> Ver la lista de pedidos realizados con fecha y detalle</p>
                <p><input type="radio" name="option" value="3" /> Ingresar nuevos productos</p>
                <p><input type="radio" name="option" value="4" /> Ir de Compra</p>
                <input type="submit" value="Siguiente" />
            </form>
        </div>
    </body>
</html>
